<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.todo_app">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="Security note"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TODOAPP">


        <activity
            android:name=".activities.splash.PresentSplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--        <activity-->
        <!--            android:name=".activities.auth.CreateUserActivity"-->
        <!--            android:exported="false" />-->
        <!--        <activity-->
        <activity
            android:name=".activities.auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activities.main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activities.main.NoteActivity"
            android:exported="false" />
        <activity
            android:name=".activities.main.ExtendsNoteActivity"
            android:exported="false" />
    </application>

</manifest>